@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <form method="post" asp-page="Index" asp-page-handler="SendEmail">
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input asp-for="SendEmailBindingModel.Email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <button type="submit" class="btn btn-primary">Send Email</button>
    </form>
</div>
